--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio

streamlit
pandas
numpy
plotly
scikit-learn

langchain
langchain-chroma
langchain-google-genai
langchain-huggingface
google-generativeai

chromadb

sentence-transformers

pyarrow
s3fs


